{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
        "targets": {
          "browsers": "> 1%"
        },
        "useBuiltIns": "usage",
        "forceAllTransforms": true
    }]
  ],

  "plugins": []
}
