<h1>When all players are connected press start</h1>
<h3>Anyone who isn't connected when you click this button will be locked out until the next game.</h3>

<%= button_to "Start", admin_dashboard_start_path, { method: :get } %>
